<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        style="
          background: linear-gradient(
            114deg,
            rgba(245, 133, 41, 1),
            rgba(209, 92, 250, 1)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
        href="https://www.instagram.com/madhavxchaturvedi/"
        class="fs-3"
      >
        <i class="fa-brands fa-square-instagram fs-3"></i>
      </a>
      <a href="https://www.linkedin.com/in/madhavxchaturvedi/">
        <i class="fa-brands fa-linkedin fs-3"></i>
      </a>
    </div>
    <div>&copy; CosmicCove Private Limited</div>
    <div>&nbsp;Built by <strong>Madhav Chaturvedi</strong> – Where code meets creativity</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
